<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>termpad</title>

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/dracula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

    <script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
    </script>

    <style>
        .hljs-ln-numbers {
            text-align: left;
            color: #ccc;
            border-right: 1px solid #999;
        }

        .hljs-ln-code.hljs-ln-code {
            padding-left: 10px;
        }

        .hljs-ln-code, .hljs-ln-numbers {
            line-height: 16px;
        }

        #key {
        	position: fixed;
	        top: 0px;
        	right: 0px;
	        z-index: +1000; /* watch out */
        }
    </style>
</head>
    <div id="key">
        <button onclick="window.location.href = '/';">New</button>
        <button onclick="window.location.href = '/usage';">Usage</button>
    </div>

    <body style="background-color:#282a36">
        <pre><code>{{ code }}</code></pre>
    </body>
</html>
